*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Custom properties */
:root {
  --ff-primary: "Inter", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-h1: 1rem;
  --fs-body: 0.8rem;
}
#root {
  height: 100vh;
}
body {
  font-size: var(--fs-body);
}
img {
  width: 100%;
}
/* Header */
.header-background {
  height: 10rem;
  background-image: url(./Images/header.jpg);
  background-position: center;
}
.header__menu-container {
  height: 3rem;
  background-image: url(./Images/wood.jpg);
  background-position: center;
}
/* CARD COMPONENT */
.card-container {
  height: 20rem;
  margin: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  /* display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr)); */
}
.card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-name {
  width: 8rem;
  height: 5rem;
  font-size: var(--fs-h1);
}
.card-img {
  width: 9rem;
  height: 13rem;
}
.card-text {
  margin-top: 1rem;
  max-width: 8rem;
}
.pagination {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer {
  position: fixed;
  background-color: aqua;
  height: 10vh;
  width: 100%;
  bottom: 0;
}
