*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Custom properties */
:root {
  --ff-primary: "Inter", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-h1: 1.2rem;
  --fs-body: 0.8rem;
}
#root {
  height: 100vh;
  background-color: #fadca2;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}
img {
  width: 100%;
}
/* Header */
.header-background {
  height: 10rem;
  background-image: url(./Images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__menu-container {
  /* height: 3rem; */
  background-image: url(./Images/wood.jpg);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  height: 50px;
  width: 60px;
}
.btn {
  width: 50px;
  height: 19px;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: var(--fs-body);
  text-align: center;
  background: #32302b;
  color: #ffc700;
  border: none;
  border-radius: 997px;
}
.start-btn {
  background: #ffc700;
  color: #32302b;
}

.btn:hover {
  background: #ffc700;
  color: #32302b;
}
.start-btn:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
/* CARD COMPONENT */
.card-container {
  height: 20rem;
  margin: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  /* display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr)); */
}
.card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-name {
  color: #892fa8;
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  text-shadow: 0 0 1px #000;
  width: 8rem;
  height: 5rem;
}
.card-img {
  width: 9rem;
  height: 13rem;
}
.card-text {
  margin-top: 1rem;
  max-width: 8rem;
}
.pagination {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer {
  position: fixed;
  background-image: url(./Images/wood.jpg);
  height: 10vh;
  width: 100%;
  bottom: 0;
}
